.ex-1-square {

    transition: 2s;
}

.ex-1-square:hover {

    background-color: red;
}

.ex-2-square {

    transition: 2s;
}

.ex-2-square:active {

    width: 100%;
}

.ex-3-square {

    transition: 2s;
}

.ex-3-square:hover {

    border-radius: 100%;
}

.ex-4-square {

    transition: 2s;
}

.ex-4-square:hover {

    opacity: 0;
}

.ex-5-square:hover {

    transform: scale(2);
}

.ex-5-square:active {

    transform: scale(.4);
}

.ex-6-img:hover {

    filter: grayscale(1);
}

.ex-7-img {

    transition: 4s;
}

.ex-7-img:hover {

    filter: sepia(6) contrast(4);
}

.ex-8-img {

    transition: 2s;
}

.ex-8-img:hover {

    filter: grayscale(2) opacity(.5);
    border-radius: 30px;
}

.ex-9-img {

    transition: 3s;
}

.ex-9-img:hover {

    filter: brightness(2) invert(3) ;
    border-radius: 30px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: girocompleto 1s linear infinite;
}
@keyframes girocompleto {

    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {

    animation: rotazione 1s linear infinite;
}

@keyframes rotazione {

    0% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button .ex-12-top-white {

    animation: spostabutton12top 1s linear infinite;
}

@keyframes spostabutton12top {

    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }

}

.ex-12-button .ex-12-bottom-white {

    animation: spostabutton12bottom 1s linear infinite;
}

@keyframes spostabutton12bottom {

    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }

}

.ex-13-button:hover .ex-13-top-white {

    animation: girocompletotop 2s linear;
}

@keyframes girocompletotop {

    0% {
        left: 10%;
        top: -10px;
    }
    25% {
        left: calc(100% - 30px);
        top: -10px;
    }
    50% {
        left: calc(100% - 30px);
        top: 90%;
    }
    75%{
        left: -30px;
        top: 90%;
    }
    85%{
        left: -30px;
        top: -10%;
    }
    100%{
        left: 10%;
        top: -10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white {

    animation: girocompletobottom 2s linear;
}

@keyframes girocompletobottom {

    0% {
        right: 20%;
        bottom: -10px;
    }
    25% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    50% {
        right: calc(100% - 30px);
        bottom: 90%;
    }
    75%{
        right: -30px;
        bottom: 90%;
    }
    85%{
        right: -30px;
        bottom: -10%;
    }
    100%{
        right: 20%;
        bottom: -10%;
    }
}
